//GRADIENT MIXING
@mixin gradient {
	background: linear-gradient(
		to right,
		rgba($primary, 0.95),
		rgba($secondary, 0.95)
	);
}

//ABSOLUTE CENTER
@mixin absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//TRANSITION PROPERTY
@mixin transitionProperty {
	transition-duration: 1000ms;
	transition-property: all;
}

//PORTFOLIO BOX TRANSITION
@mixin portfolioBox {
	animation: winanim 0.5s;
	transition-duration: 0.4s;
}

@keyframes winanim {
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
